{% extends '_templates/layouts/web/auth.html'%}

{% block layout%}

    <h2>_templates/pages/web/auth/forgot-password.html</h2>

    <h1>forgot password</h1>
    <ul><a href="{% url 'login'%}">login</a></ul>

    <form action="" method="">
        <label for="email">email :</label>
        <p><input type="email" id="email" name="email"></p>
        
        <button type="submit"><a href="{% url 'reset-password'%}">send</a></button>

        
    </form>

{% endblock layout%}


<!-- this is form -->
{% block authform%}
{% endblock authform%}
<!-- this is form -->


<!--begin: custom javascript(used by this page)-->
{% block page_scripts %}
{% endblock page_scripts %}
<!--begin: custom javascript(used by this page-->