
{% block layout%}
<h2>_templates/layouts/dashboard/reset-password.html</h2>
{% endblock layout%}


<!-- this is form -->
{% block authform%}
{% endblock authform%}

<h1>change password</h1>
<ul><a href="{% url 'home' %}">home</a></ul>
<ul><a href="{% url 'profile' %}">profile</a></ul>

<form action="" method="POST">
    <label for="old_password">old_password :</label>
    <p><input type="password" id="old_password" name="old_password"></p>
    <br>
    <label for="new_password">new password :</label>
    <p><input type="password" id="new_password" name="new_password"></p>
    <br>
    <label for="confirm_password">confirm password :</label>
    <p><input type="password" id="confirm_password" name="confirm_password"></p>
    <br><br>
    <button type="submit"><a href="{% url 'home'%}">submit</a></button>
</form>

<!-- this is form -->
<!--begin: custom javascript(used by this page)-->
{% block page_scripts %}
{% endblock page_scripts %}
<!--begin: custom javascript(used by this page-->